@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.mainHeader {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.textEspacio {
  color: #77C38C;
}

.espacioImagen {
  height: 180px;
  object-fit: cover;
}

.espacioSeleccionado {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.espacioSeleccionado img {
  width: 120px;
  height: auto;
  border-radius: 8px;
}

.formulario {
  background-color: #fafafa;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.confirmacion {
 
  text-align: center;
  font-size: 1.5rem;
  padding: 8rem 0;
  color: #77C38C;
    margin-bottom: 50px;
}

.steps {
  margin-bottom: 2rem;
}

.stepContent {
  margin-top: 2rem;
}