.main {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold;
}

.wrapperContenido {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.tablaContainer {
  flex: 2;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
}

.tabla th,
.tabla td {
  border: 1px solid #ccc;
  padding: 0.75rem;
  text-align: left;
}

.containerFormulario {
  flex: 1.2;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-height: 400px;
}

.formulario__header {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.formulario__subtitulo {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.form__group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form__group label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.form__group input,
.form__group select {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.radioGroup {
  display: flex;
  gap: 1rem;
}

.radioGroup label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.radioPagado {
  color: green;
  font-weight: bold;
}

.radioPendiente {
  color: red;
  font-weight: bold;
}

.formButtons {
  margin-top: 1.5rem;
  
}

.buttonPrimario {
  padding: 0.75rem 1.5rem;
  background-color: #77C38C;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.buttonPrimario:hover {
  background-color: #4d865d;
}

/* Nueva barra de resumen estilo tarjeta */
.barraResumen {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  gap: 2rem;
}

.itemResumen {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-right: 1px solid #eee;
}

.itemResumen:last-child {
  border-right: none;
}

.iconoResumen {
  background: #dcfce7;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textoResumen {
  display: flex;
  flex-direction: column;
}

.tituloResumen {
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 0.3rem;
}

.valorResumen {
  font-size: 1.5rem;
  font-weight: bold;
}

.cambioResumen {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.cambioVerde {
  color: green;
}

.cambioRojo {
  color: crimson;
}
.botonesResumen {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.botonResumen {
  padding: 0.6rem 1.2rem;
  background-color: #77C38C;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: white;
}

.botonResumen:hover {
  background-color: #4d865d;
}
