
.loginContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;

}

.loginCard {
  width: 100%;
  max-width: 380px;
  padding: 32px 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  background-color: #fff;
}

.title {
  text-align: center;
  padding: 15px 0;
  font-weight: 600;

}

.formItem {
  margin-bottom: 20px;
}

/* Estiliza todos los inputs para que tengan la misma altura */
.formItem :global(.ant-input),
.formItem :global(.ant-input-password) {
  height: 40px;
  line-height: 40px;
  padding: 0 11px;
}

/* Ajusta la altura del mensaje de error */
.formItem :global(.ant-form-item-explain) {
  margin-top: 4px;
  font-size: 12px;
}


.submitButton {
  width: 100%;
  height: 40px;
  font-weight: 500;
  background-color: #77C38C;
  margin-top: 10px;
}